    </div>
    </body>

    <script defer src="/js/front.js"></script>
    <!-- <script defer type="module" src="/js/tovitAdd.js"></script> -->
    <script defer type="module" src="/js/tovitAdd_new.js"></script>
    <script defer type="module" src="/js/verifyPage.js"></script>
    <script defer src="/js/frontHelper/globalHelpers.js"></script>
    </html>