    </div>
    </body>

    <script defer src="/js/front.js"></script>
    <script defer type="module" src="/js/tovitAdd.js"></script>
    <script defer src="/js/frontHelper/globalHelpers.js"></script>
    </html>