<%- include('../components/footer') %>
    </div>
    </body>
    <script defer src="./js/front.js"></script>
    <script defer src="./js/tovitAdd.js"></script>
    <script defer src="./js/store.js"></script>
    <script defer src="./js/frontHelper/globalHelpers.js"></script>
    <script>
        const userData = <%- JSON.stringify(user) %>
    </script>
    </html>