<%- include('./generals/pageTop') %>

<main id="error-page">
    <div class="page-header"><h1>שגיאה 404</h1><p>הדף לא נמצא, הגעתם לכאן בטעות ?</p></div>
    <div id="home-link"><a href="/">לחצו כאן על מנת לחזור לדף הבית</a></div>
</main>

<%- include('./generals/pageBottom') %>
