<%- include('./generals/pageTop') %>

<main id="login-container"><div class="page-header"><h1>בחירת סיסמה</h1><p>נא להזין את הסיסמה החדשה שלך</p></div>
    <form class="update-form" >
    <div class="floating-label-group">
    <input name="userPassword" type="password" class="form-input " autofocus placeholder="" >
    <label class="floating-label ">סיסמה</label>
    </div><div class="floating-label-group">
    <input type="password" name="userPasswordConfirm" class="form-input "  placeholder="" >
    <label class="floating-label ">אימות סיסמה</label>
    </div>
    <button class="btn confirm wide">עדכון סיסמה</button>
    </form></main>

<%- include('./generals/pageBottom') %>
