<%- include('./generals/pageTop') %>

    <main id="signup-container">
        <div class="page-header">
            <h1>הרשמה</h1>
            <p>מלא את הפרטים שלך על מנת להתחיל</p>
        </div>
        <form class="signup-form" method="post" action="api/users/sign-up">
            <div class="floating-label-group">
                <input type="text" class="form-input" name="fName" placeholder=""  autocomplete="given-name" />
                <label class="floating-label">שם פרטי</label>
            </div>
            <div class="floating-label-group">
                <input type="text" class="form-input" name="lName" placeholder=""  autocomplete="family-name" />
                <label class="floating-label">שם משפחה</label>
            </div>
            <div class="floating-label-group">
                <input type="text" class="form-input" name="userName" placeholder=""  autocomplete="off" />
                <label class="floating-label">שם משתמש (אנגלית)</label>
            </div>
            <div class="floating-label-group">
                <input type="password" class="form-input" name="password"  placeholder=""  autocomplete="" />
                <label class="floating-label">סיסמה</label>
            </div>
            <div class="floating-label-group">
                <input type="password" class="form-input"  name="rePassword" placeholder=""  autocomplete="" />
                <label class="floating-label">אימות סיסמה</label>
            </div>
            <div class="floating-label-group">
                <input type="email" class="form-input" name="email"  placeholder=""  autocomplete="email" />
                <label class="floating-label">אימייל</label>
            </div>
                <% if(querys?.success) {%>
                <p class="error">שגיאה בהתחברות, בדוק/י את שם המשתמש או הסיסמה</p>
                <% }%>
            <button type="submit" class="btn confirm wide">הרשמה</button>
            <div class="user-actions">
                <span>משתמש קיים? <a data-link="" href="/login">התחבר</a></span>
            </div>
        </form>
    </main>

    <%-include('./generals/pageBottom') %>