<%- include('./generals/pageTop') %>

<main id="signup-container"><div class="page-header"><h1>专砖</h1><p>住 转 专 拽专 住住 砖</p></div><form class="signup-form" method="post" action="/user/signup"><div class="floating-label-group">
    <input type="text" class="form-input " true="" placeholder="" false="" autocomplete="given-name">
    <label class="floating-label ">砖 驻专</label>
    </div><div class="floating-label-group">
    <input type="text" class="form-input " true="" placeholder="" false="" autocomplete="family-name">
    <label class="floating-label ">砖 砖驻</label>
    </div><div class="floating-label-group">
    <input type="text" class="form-input " true="" placeholder="" false="" autocomplete="off">
    <label class="floating-label ">砖 砖转砖</label>
    </div><div class="floating-label-group">
    <input type="phone" class="form-input " false="" placeholder="" autocomplete="tel">
    <label class="floating-label ">驻驻</label>
    </div><div class="floating-label-group">
    <input type="password" class="form-input " true="" placeholder="" false="" autocomplete="">
    <label class="floating-label ">住住</label>
    </div><div class="floating-label-group">
    <input type="password" class="form-input " true="" placeholder="" false="" autocomplete="">
    <label class="floating-label ">转 住住</label>
    </div><div class="floating-label-group">
    <input type="email" class="form-input " true="" placeholder="" false="" autocomplete="email">
    <label class="floating-label "></label>
    </div><div class="floating-label-group">
        <div class="select-container"><span></span>
        <select name="gender" dir="rtl" class="select " true="" false="">
        <option value="" hidden="">专/ 专</option>
            <option value="拽" id="">拽</option>
            <option value="专" id="">专</option>
            <option value="注祝 砖 专" id="">注祝 砖 专</option>
        </select>
        </div></div><div class="floating-label-group"><div class="select-container"><span></span>
        <select name="country" dir="rtl" class="select " true="" false="">
        <option value="" hidden="">专/ </option>
            <option value="afghanistan" id="">afghanistan</option>
            <option value="albania" id="">albania</option>
            <option value="algeria" id="">algeria</option>
            <option value="american samoa" id="">american samoa</option>
            <option value="andorra" id="">andorra</option>
            <option value="angola" id="">angola</option>
            <option value="anguilla" id="">anguilla</option>
            <option value="antarctica" id="">antarctica</option>
            <option value="antigua and barbuda" id="">antigua and barbuda</option>
            <option value="argentina" id="">argentina</option>
            <option value="armenia" id="">armenia</option>
            <option value="aruba" id="">aruba</option>
            <option value="australia" id="">australia</option>
            <option value="austria" id="">austria</option>
            <option value="azerbaijan" id="">azerbaijan</option>
            <option value="bahamas" id="ю">bahamas</option>
            <option value="bahrain" id="ю">bahrain</option>
            <option value="bangladesh" id="ю">bangladesh</option>
            <option value="barbados" id="ю">barbados</option>
            <option value="belarus" id="ю">belarus</option>
            <option value="belgium" id="ю">belgium</option>
            <option value="belize" id="ю">belize</option>
            <option value="benin" id="ю">benin</option>
            <option value="bermuda" id="ю">bermuda</option>
            <option value="bhutan" id="ю">bhutan</option>
            <option value="bolivia" id="ю">bolivia</option>
            <option value="bosnia and herzegovina" id="ю">bosnia and herzegovina</option>
            <option value="botswana" id="ю">botswana</option>
            <option value="bouvet island" id="ю">bouvet island</option>
            <option value="brazil" id="ю">brazil</option>
            <option value="british indian ocean territory" id="">british indian ocean territory</option>
            <option value="british virgin islands" id="火">british virgin islands</option>
            <option value="brunei" id="ю">brunei</option>
            <option value="bulgaria" id="ю">bulgaria</option>
            <option value="burkina faso" id="ю">burkina faso</option>
            <option value="burundi" id="ю">burundi</option>
            <option value="cambodia" id="梆">cambodia</option>
            <option value="cameroon" id="">cameroon</option>
            <option value="canada" id="">canada</option>
            <option value="cape verde" id="">cape verde</option>
            <option value="caribbean netherlands" id="ю">caribbean netherlands</option>
            <option value="cayman islands" id="梆">cayman islands</option>
            <option value="central african republic" id="">central african republic</option>
            <option value="chad" id="桂">chad</option>
            <option value="chile" id="">chile</option>
            <option value="china" id="">china</option>
            <option value="christmas island" id="">christmas island</option>
            <option value="cocos (keeling) islands" id="">cocos (keeling) islands</option>
            <option value="colombia" id="">colombia</option>
            <option value="comoros" id="梆">comoros</option>
            <option value="cook islands" id="">cook islands</option>
            <option value="costa rica" id="">costa rica</option>
            <option value="croatia" id="">croatia</option>
            <option value="cuba" id="">cuba</option>
            <option value="cura莽ao" id="">cura莽ao</option>
            <option value="cyprus" id="">cyprus</option>
            <option value="czechia" id="">czechia</option>
            <option value="denmark" id="">denmark</option>
            <option value="djibouti" id="">djibouti</option>
            <option value="dominica" id="">dominica</option>
            <option value="dominican republic" id="">dominican republic</option>
            <option value="dr congo" id="">dr congo</option>
            <option value="ecuador" id="">ecuador</option>
            <option value="egypt" id="">egypt</option>
            <option value="el salvador" id="葛">el salvador</option>
            <option value="equatorial guinea" id="">equatorial guinea</option>
            <option value="eritrea" id="">eritrea</option>
            <option value="estonia" id="">estonia</option>
            <option value="eswatini" id="葛">eswatini</option>
            <option value="ethiopia" id="">ethiopia</option>
            <option value="falkland islands" id="">falkland islands</option>
            <option value="faroe islands" id="">faroe islands</option>
            <option value="fiji" id="">fiji</option>
            <option value="finland" id="">finland</option>
            <option value="france" id="">france</option>
            <option value="french guiana" id="">french guiana</option>
            <option value="french polynesia" id="叼">french polynesia</option>
            <option value="french southern and antarctic lands" id="桂">french southern and antarctic lands</option>
            <option value="gabon" id="">gabon</option>
            <option value="gambia" id="">gambia</option>
            <option value="georgia" id="">georgia</option>
            <option value="germany" id="">germany</option>
            <option value="ghana" id="">ghana</option>
            <option value="gibraltar" id="">gibraltar</option>
            <option value="greece" id="">greece</option>
            <option value="greenland" id="">greenland</option>
            <option value="grenada" id="">grenada</option>
            <option value="guadeloupe" id="">guadeloupe</option>
            <option value="guam" id="">guam</option>
            <option value="guatemala" id="">guatemala</option>
            <option value="guernsey" id="">guernsey</option>
            <option value="guinea" id="">guinea</option>
            <option value="guinea-bissau" id="">guinea-bissau</option>
            <option value="guyana" id="">guyana</option>
            <option value="haiti" id="">haiti</option>
            <option value="heard island and mcdonald islands" id="">heard island and mcdonald islands</option>
            <option value="honduras" id="">honduras</option>
            <option value="hong kong" id="">hong kong</option>
            <option value="hungary" id="">hungary</option>
            <option value="iceland" id="">iceland</option>
            <option value="india" id="">india</option>
            <option value="indonesia" id="">indonesia</option>
            <option value="iran" id="">iran</option>
            <option value="iraq" id="">iraq</option>
            <option value="ireland" id="">ireland</option>
            <option value="isle of man" id="">isle of man</option>
            <option value="israel" id="">israel</option>
            <option value="italy" id="">italy</option>
            <option value="ivory coast" id="">ivory coast</option>
            <option value="jamaica" id="">jamaica</option>
            <option value="japan" id="">japan</option>
            <option value="jersey" id="">jersey</option>
            <option value="jordan" id="">jordan</option>
            <option value="kazakhstan" id="梆">kazakhstan</option>
            <option value="kenya" id="梆">kenya</option>
            <option value="kiribati" id="梆">kiribati</option>
            <option value="kosovo" id="金">kosovo</option>
            <option value="kuwait" id="梆">kuwait</option>
            <option value="kyrgyzstan" id="梆">kyrgyzstan</option>
            <option value="laos" id="别">laos</option>
            <option value="latvia" id="别">latvia</option>
            <option value="lebanon" id="别">lebanon</option>
            <option value="lesotho" id="别">lesotho</option>
            <option value="liberia" id="别">liberia</option>
            <option value="libya" id="别">libya</option>
            <option value="liechtenstein" id="别">liechtenstein</option>
            <option value="lithuania" id="别">lithuania</option>
            <option value="luxembourg" id="别">luxembourg</option>
            <option value="macau" id="拆">macau</option>
            <option value="madagascar" id="拆">madagascar</option>
            <option value="malawi" id="拆">malawi</option>
            <option value="malaysia" id="拆">malaysia</option>
            <option value="maldives" id="拆">maldives</option>
            <option value="mali" id="拆">mali</option>
            <option value="malta" id="拆">malta</option>
            <option value="marshall islands" id="拆">marshall islands</option>
            <option value="martinique" id="拆">martinique</option>
            <option value="mauritania" id="拆">mauritania</option>
            <option value="mauritius" id="拆">mauritius</option>
            <option value="mayotte" id="攫">mayotte</option>
            <option value="mexico" id="拆">mexico</option>
            <option value="micronesia" id="">micronesia</option>
            <option value="moldova" id="拆">moldova</option>
            <option value="monaco" id="拆">monaco</option>
            <option value="mongolia" id="拆">mongolia</option>
            <option value="montenegro" id="拆">montenegro</option>
            <option value="montserrat" id="拆">montserrat</option>
            <option value="morocco" id="拆">morocco</option>
            <option value="mozambique" id="拆">mozambique</option>
            <option value="myanmar" id="拆">myanmar</option>
            <option value="namibia" id="仇">namibia</option>
            <option value="nauru" id="仇">nauru</option>
            <option value="nepal" id="仇">nepal</option>
            <option value="netherlands" id="仇">netherlands</option>
            <option value="new caledonia" id="仇">new caledonia</option>
            <option value="new zealand" id="仇">new zealand</option>
            <option value="nicaragua" id="仇">nicaragua</option>
            <option value="niger" id="仇">niger</option>
            <option value="nigeria" id="仇">nigeria</option>
            <option value="niue" id="仇">niue</option>
            <option value="norfolk island" id="仇">norfolk island</option>
            <option value="north korea" id="梆">north korea</option>
            <option value="north macedonia" id="拆">north macedonia</option>
            <option value="northern mariana islands" id="拆">northern mariana islands</option>
            <option value="norway" id="仇">norway</option>
            <option value="oman" id="答">oman</option>
            <option value="pakistan" id="叼">pakistan</option>
            <option value="palau" id="叼">palau</option>
            <option value="palestine" id="叼">palestine</option>
            <option value="panama" id="叼">panama</option>
            <option value="papua new guinea" id="叼">papua new guinea</option>
            <option value="paraguay" id="叼">paraguay</option>
            <option value="peru" id="叼">peru</option>
            <option value="philippines" id="叼">philippines</option>
            <option value="pitcairn islands" id="叼">pitcairn islands</option>
            <option value="poland" id="叼">poland</option>
            <option value="portugal" id="叼">portugal</option>
            <option value="puerto rico" id="叼">puerto rico</option>
            <option value="qatar" id="娥">qatar</option>
            <option value="republic of the congo" id="">republic of the congo</option>
            <option value="romania" id="佛">romania</option>
            <option value="russia" id="佛">russia</option>
            <option value="rwanda" id="佛">rwanda</option>
            <option value="r茅union" id="佛">r茅union</option>
            <option value="saint barth茅lemy" id="ю">saint barth茅lemy</option>
            <option value="saint helena, ascension and tristan da cunha" id="葛">saint helena, ascension and tristan da cunha</option>
            <option value="saint kitts and nevis" id="梆">saint kitts and nevis</option>
            <option value="saint lucia" id="别">saint lucia</option>
            <option value="saint martin" id="拆">saint martin</option>
            <option value="saint pierre and miquelon" id="叼">saint pierre and miquelon</option>
            <option value="saint vincent and the grenadines" id="火">saint vincent and the grenadines</option>
            <option value="samoa" id="拣">samoa</option>
            <option value="san marino" id="葛">san marino</option>
            <option value="saudi arabia" id="葛">saudi arabia</option>
            <option value="senegal" id="葛">senegal</option>
            <option value="serbia" id="佛">serbia</option>
            <option value="seychelles" id="葛">seychelles</option>
            <option value="sierra leone" id="葛">sierra leone</option>
            <option value="singapore" id="葛">singapore</option>
            <option value="sint maarten" id="葛">sint maarten</option>
            <option value="slovakia" id="葛">slovakia</option>
            <option value="slovenia" id="葛">slovenia</option>
            <option value="solomon islands" id="葛">solomon islands</option>
            <option value="somalia" id="葛">somalia</option>
            <option value="south africa" id="筐">south africa</option>
            <option value="south georgia" id="">south georgia</option>
            <option value="south korea" id="梆">south korea</option>
            <option value="south sudan" id="葛">south sudan</option>
            <option value="spain" id="">spain</option>
            <option value="sri lanka" id="别">sri lanka</option>
            <option value="sudan" id="葛">sudan</option>
            <option value="suriname" id="葛">suriname</option>
            <option value="svalbard and jan mayen" id="葛">svalbard and jan mayen</option>
            <option value="sweden" id="葛">sweden</option>
            <option value="switzerland" id="">switzerland</option>
            <option value="syria" id="葛">syria</option>
            <option value="s茫o tom茅 and pr铆ncipe" id="葛">s茫o tom茅 and pr铆ncipe</option>
            <option value="taiwan" id="桂">taiwan</option>
            <option value="tajikistan" id="桂">tajikistan</option>
            <option value="tanzania" id="桂">tanzania</option>
            <option value="thailand" id="桂">thailand</option>
            <option value="timor-leste" id="桂">timor-leste</option>
            <option value="togo" id="桂">togo</option>
            <option value="tokelau" id="桂">tokelau</option>
            <option value="tonga" id="桂">tonga</option>
            <option value="trinidad and tobago" id="桂">trinidad and tobago</option>
            <option value="tunisia" id="桂">tunisia</option>
            <option value="turkey" id="桂">turkey</option>
            <option value="turkmenistan" id="桂">turkmenistan</option>
            <option value="turks and caicos islands" id="桂">turks and caicos islands</option>
            <option value="tuvalu" id="桂">tuvalu</option>
            <option value="uganda" id="吼">uganda</option>
            <option value="ukraine" id="吼">ukraine</option>
            <option value="united arab emirates" id="">united arab emirates</option>
            <option value="united kingdom" id="">united kingdom</option>
            <option value="united states" id="吼">united states</option>
            <option value="united states minor outlying islands" id="吼">united states minor outlying islands</option>
            <option value="united states virgin islands" id="火">united states virgin islands</option>
            <option value="uruguay" id="吼">uruguay</option>
            <option value="uzbekistan" id="吼">uzbekistan</option>
            <option value="vanuatu" id="火">vanuatu</option>
            <option value="vatican city" id="火">vatican city</option>
            <option value="venezuela" id="火">venezuela</option>
            <option value="vietnam" id="火">vietnam</option>
            <option value="wallis and futuna" id="拣">wallis and futuna</option>
            <option value="western sahara" id="">western sahara</option>
            <option value="yemen" id="攫">yemen</option>
            <option value="zambia" id="筐">zambia</option>
            <option value="zimbabwe" id="筐">zimbabwe</option>
            <option value="氓land islands" id="">氓land islands</option>
        </select>
        </div></div><div class="dates-container" id="signup-dates"><span class="mini-title">转专 </span><div class="floating-label-group"><div class="select-container"><span></span>
        <select name="day" dir="rtl" class="select " true="" false="">
        <option value="" hidden=""></option>
            <option value="1" id="">1</option>
            <option value="2" id="">2</option>
            <option value="3" id="">3</option>
            <option value="4" id="">4</option>
            <option value="5" id="">5</option>
            <option value="6" id="">6</option>
            <option value="7" id="">7</option>
            <option value="8" id="">8</option>
            <option value="9" id="">9</option>
            <option value="10" id="">10</option>
            <option value="11" id="">11</option>
            <option value="12" id="">12</option>
            <option value="13" id="">13</option>
            <option value="14" id="">14</option>
            <option value="15" id="">15</option>
            <option value="16" id="">16</option>
            <option value="17" id="">17</option>
            <option value="18" id="">18</option>
            <option value="19" id="">19</option>
            <option value="20" id="">20</option>
            <option value="21" id="">21</option>
            <option value="22" id="">22</option>
            <option value="23" id="">23</option>
            <option value="24" id="">24</option>
            <option value="25" id="">25</option>
            <option value="26" id="">26</option>
            <option value="27" id="">27</option>
            <option value="28" id="">28</option>
            <option value="29" id="">29</option>
            <option value="30" id="">30</option>
            <option value="31" id="">31</option>
        </select>
        </div></div><div class="floating-label-group"><div class="select-container"><span></span>
        <select name="month" dir="rtl" class="select " true="" false="">
        <option value="" hidden="">砖</option>
            <option value="1" id="">1</option>
            <option value="2" id="">2</option>
            <option value="3" id="">3</option>
            <option value="4" id="">4</option>
            <option value="5" id="">5</option>
            <option value="6" id="">6</option>
            <option value="7" id="">7</option>
            <option value="8" id="">8</option>
            <option value="9" id="">9</option>
            <option value="10" id="">10</option>
            <option value="11" id="">11</option>
            <option value="12" id="">12</option>
        </select>
        </div></div><div class="floating-label-group"><div class="select-container"><span></span>
        <select name="year" dir="rtl" class="select " true="" false="">
        <option value="" hidden="">砖</option>
            <option value="2024" id="">2024</option>
            <option value="2023" id="">2023</option>
            <option value="2022" id="">2022</option>
            <option value="2021" id="">2021</option>
            <option value="2020" id="">2020</option>
            <option value="2019" id="">2019</option>
            <option value="2018" id="">2018</option>
            <option value="2017" id="">2017</option>
            <option value="2016" id="">2016</option>
            <option value="2015" id="">2015</option>
            <option value="2014" id="">2014</option>
            <option value="2013" id="">2013</option>
            <option value="2012" id="">2012</option>
            <option value="2011" id="">2011</option>
            <option value="2010" id="">2010</option>
            <option value="2009" id="">2009</option>
            <option value="2008" id="">2008</option>
            <option value="2007" id="">2007</option>
            <option value="2006" id="">2006</option>
            <option value="2005" id="">2005</option>
            <option value="2004" id="">2004</option>
            <option value="2003" id="">2003</option>
            <option value="2002" id="">2002</option>
            <option value="2001" id="">2001</option>
            <option value="2000" id="">2000</option>
            <option value="1999" id="">1999</option>
            <option value="1998" id="">1998</option>
            <option value="1997" id="">1997</option>
            <option value="1996" id="">1996</option>
            <option value="1995" id="">1995</option>
            <option value="1994" id="">1994</option>
            <option value="1993" id="">1993</option>
            <option value="1992" id="">1992</option>
            <option value="1991" id="">1991</option>
            <option value="1990" id="">1990</option>
            <option value="1989" id="">1989</option>
            <option value="1988" id="">1988</option>
            <option value="1987" id="">1987</option>
            <option value="1986" id="">1986</option>
            <option value="1985" id="">1985</option>
            <option value="1984" id="">1984</option>
            <option value="1983" id="">1983</option>
            <option value="1982" id="">1982</option>
            <option value="1981" id="">1981</option>
            <option value="1980" id="">1980</option>
            <option value="1979" id="">1979</option>
            <option value="1978" id="">1978</option>
            <option value="1977" id="">1977</option>
            <option value="1976" id="">1976</option>
            <option value="1975" id="">1975</option>
            <option value="1974" id="">1974</option>
            <option value="1973" id="">1973</option>
            <option value="1972" id="">1972</option>
            <option value="1971" id="">1971</option>
            <option value="1970" id="">1970</option>
            <option value="1969" id="">1969</option>
            <option value="1968" id="">1968</option>
            <option value="1967" id="">1967</option>
            <option value="1966" id="">1966</option>
            <option value="1965" id="">1965</option>
            <option value="1964" id="">1964</option>
            <option value="1963" id="">1963</option>
            <option value="1962" id="">1962</option>
            <option value="1961" id="">1961</option>
            <option value="1960" id="">1960</option>
            <option value="1959" id="">1959</option>
            <option value="1958" id="">1958</option>
            <option value="1957" id="">1957</option>
            <option value="1956" id="">1956</option>
            <option value="1955" id="">1955</option>
            <option value="1954" id="">1954</option>
            <option value="1953" id="">1953</option>
            <option value="1952" id="">1952</option>
            <option value="1951" id="">1951</option>
            <option value="1950" id="">1950</option>
            <option value="1949" id="">1949</option>
            <option value="1948" id="">1948</option>
            <option value="1947" id="">1947</option>
            <option value="1946" id="">1946</option>
            <option value="1945" id="">1945</option>
            <option value="1944" id="">1944</option>
            <option value="1943" id="">1943</option>
            <option value="1942" id="">1942</option>
            <option value="1941" id="">1941</option>
            <option value="1940" id="">1940</option>
            <option value="1939" id="">1939</option>
            <option value="1938" id="">1938</option>
            <option value="1937" id="">1937</option>
            <option value="1936" id="">1936</option>
            <option value="1935" id="">1935</option>
            <option value="1934" id="">1934</option>
            <option value="1933" id="">1933</option>
            <option value="1932" id="">1932</option>
            <option value="1931" id="">1931</option>
            <option value="1930" id="">1930</option>
            <option value="1929" id="">1929</option>
            <option value="1928" id="">1928</option>
            <option value="1927" id="">1927</option>
            <option value="1926" id="">1926</option>
            <option value="1925" id="">1925</option>
            <option value="1924" id="">1924</option>
            <option value="1923" id="">1923</option>
            <option value="1922" id="">1922</option>
            <option value="1921" id="">1921</option>
            <option value="1920" id="">1920</option>
            <option value="1919" id="">1919</option>
            <option value="1918" id="">1918</option>
            <option value="1917" id="">1917</option>
            <option value="1916" id="">1916</option>
            <option value="1915" id="">1915</option>
            <option value="1914" id="">1914</option>
            <option value="1913" id="">1913</option>
            <option value="1912" id="">1912</option>
            <option value="1911" id="">1911</option>
            <option value="1910" id="">1910</option>
            <option value="1909" id="">1909</option>
            <option value="1908" id="">1908</option>
            <option value="1907" id="">1907</option>
            <option value="1906" id="">1906</option>
            <option value="1905" id="">1905</option>
        </select>
        </div></div></div><button type="submit" class="btn confirm wide">专砖</button><div class="user-actions"><span>砖转砖 拽? <a data-link="" href="/login">转专</a></span></div></form></main>

<%- include('./generals/pageBottom') %>
