<%- include('./generals/pageTop') %>

<main id="login-container">
    <div class="page-header">
        <h1>נא להזין את הקוד שהתקבל במייל</h1>
    </div>
    <form class="forgot-form">
        <div class="otp-container">
                <input type="text" maxlength="1" class="otp-input">
                <input type="text" maxlength="1" class="otp-input">
                <input type="text" maxlength="1" class="otp-input">
                <input type="text" maxlength="1" class="otp-input">
                <input type="text" maxlength="1" class="otp-input">
                <input type="text" maxlength="1" class="otp-input">
            </div>
            
            
            <button type="submit" class="btn confirm wide">איפוס סיסמה</button>
        </form>
    </main>

<%-include('./generals/pageBottom') %>
